form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

img {
  object-fit: cover;
  object-position: center;
  width: 200px;
  max-height: 200px;
}

.App {
  max-width: 60rem;
  margin: 0 auto;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
