form {
  padding: 1rem 0;
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-left: 20px;
}

input[type="search"] {
  max-width: 400px;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

img {
  object-fit: cover;
  object-position: center;
  width: 200px;
  max-height: 200px;
}

.App {
  max-width: 65rem;
  margin: 0 auto;
}

.results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
}
